footer {
  position: relative;
  bottom: 0;
  width: 100vw;
  height: 100px;
  background-color: #caccb4;
}

.footerLogo {
  position: absolute;
  top: 11px;
  left: calc(50vw - 153px);
  text-align: center;
}

.footerLinks {
  display: flex;
  position: absolute;
  top: calc(50% - 12px);
  right: 50px;
}

.footerLinks li + li {
  margin-left: 10px;
}

.footerLogoImage {
  width: 264px;
  height: 56px;
}

.footerCopyRight {
  font-size: 10px;
  color: #889b88;
}

.footerButton {
  width: 72px;
  height: 25px;
  border-radius: 15px;
  background-color: #314232;
}

.footerButton i {
  display: inline-block;
  margin-right: 5px;
  color: #caccb4;
  font-size: 14px;
}

.footerButton .footerButtonName {
  font-size: 12px;
  color: #caccb4;
}

@media screen and (max-width: 689px) {
  footer {
    height: 150px;
  }
  .footerLinks {
    left: calc(50% - 95px);
    top: 100px;
  }
}
