<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../reset.css">
    <link rel="stylesheet" href="footer.css">
    <script src="https://kit.fontawesome.com/8f83d1908a.js" crossorigin="anonymous"></script>
    <title>[book-cord]</title>
</head>
<body>
    <footer>
        <div class="footerLogo">
            <a href="https://github.com/book-cord/book-cord" target="_blank">
                <img class="footerLogoImage" src="../../images/logo.png" alt="북코드 로고 이미지">
            </a>
            <p class="footerCopyRight">
                ⓒ 2022 UnIMooN Corp. all rights reserved.
            </p>
        </div>
        <ul class="footerLinks">
            <li>
                <a href="https://github.com/Jinnie-kim" target="_blank">
                    <button class="footerButton gitHjin" href="">
                        <i class="fa-brands fa-github"></i>
                        <strong class="footerButtonName">
                            희진
                        </strong>
                    </button>
                </a>
            </li>
            <li>
                <a href="https://github.com/sojeongsojeong-park" target="_blank">
                    <button class="footerButton gitSjeong">
                        <i class="fa-brands fa-github"></i>
                        <strong class="footerButtonName">
                            소정
                        </strong>
                    </button>
                </a>
            </li>
        </ul>
    </footer>
</body>
</html>