<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../common/reset.css" />
    <link rel="stylesheet" href="../common/header/header.css" />
    <link rel="stylesheet" href="../common/footer/footer.css" />
    <link rel="stylesheet" href="./myBook.css" />
    <script
      src="https://kit.fontawesome.com/d0a847a6bb.js"
      crossorigin="anonymous"
    ></script>
    <script defer src="../common/header/header.js"></script>
    <script defer src="../common/footer/footer.js"></script>
    <script defer src="./myBook.js"></script>
    <title>[book-cord]</title>
  </head>
  <body>
    <header></header>
    <main role="main">
      <section>
        <h2 class="ir_text">myProfile</h2>
        <div class="imageContainer"></div>
        <div id="nickName"></div>
        <div class="textContainer">
          <i class="fa-solid fa-quote-left"></i>
          <p id="myQuote"></p>
          <i class="fa-solid fa-quote-right"></i>
        </div>
        <article>
          <ul>
            <li
              style="writing-mode: horizontal-tb; padding-top: 30px"
              id="myInfo"
            >
              My Info 🔒
            </li>
          </ul>
        </article>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
