<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../common/reset.css" />
    <link rel="stylesheet" href="../common/header/header.css" />
    <link rel="stylesheet" href="../common/tabButton/tabButton.css" />
    <link rel="stylesheet" href="../common/footer/footer.css" />
    <script
      src="https://kit.fontawesome.com/d0a847a6bb.js"
      crossorigin="anonymous"
    ></script>
    <script defer src="../common/header/header.js"></script>
    <script defer src="../common/tabButton/tabButton.js"></script>
    <script defer src="../common/footer/footer.js"></script>
    <script defer src="./unitRecord.js"></script>
    <link rel="stylesheet" href="./unitRecord.css" />
    <title>[book-cord]</title>
  </head>
  <body>
    <header></header>
    <div id="tabMenu"></div>
    <main role="main">
      <div id="tabMenu"></div>
      <section>
        <h2 class="ir_text">독서 기록</h2>
        <div class="recordContainer">
          <div class="title">
            <h3 class="label">제목</h3>
            <strong id="title"></strong>
          </div>
          <div class="author">
            <h3 class="label">작가</h3>
            <strong id="author"></strong>
          </div>
        </div>
        <p class="recordContent"></p>
      </section>
      <div class="recordButtons">
        <button class="recordButton button">Edit</button>
        <button class="recordButton button">Delete</button>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
