.notAvailable {
  width: 450px;
  background-color: #fff;
  border-radius: 24px;
  margin: 150px auto;
}

.notAvailable h2 {
  color: #5b6d5b;
  font-size: 24px;
  text-align: center;
  padding: 30px 0;
}

.confirmButton {
  position: relative;
  left: 175px;
  background-color: #5b6d5b;
  color: #fff;
  margin: 20px 0 30px 0;
}