<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../common/reset.css" />
    <link rel="stylesheet" href="../common/header/header.css" />
    <link rel="stylesheet" href="../common/footer/footer.css" />
    <link rel="stylesheet" href="./signIn.css" />
    <script
      src="https://kit.fontawesome.com/d0a847a6bb.js"
      crossorigin="anonymous"
    ></script>
    <script src="../common/notAvailableModal/notAvailableModal.js" defer></script>
    <link rel="stylesheet" href="../common/notAvailableModal/notAvailableModal.css">
    <script defer src="../common/header/header.js"></script>
    <script defer src="../common/footer/footer.js"></script>
    <script defer src="./signIn.js"></script>
    <title>[book-cord]</title>
  </head>
  <body>
    <header></header>
    <main role="main">
      <div id="signinContainer">
        <p>welcome<br />[book-cord]</p>
        <form>
          <div>
            <label for="name">이름</label>
            <input type="text" placeholder="이름을 입력해 주세요" />
          </div>
          <div>
            <label for="email">이메일</label>
            <input type="text" placeholder="이메일을 입력해 주세요" />
          </div>
          <div>
            <label for="password">비밀번호</label>
            <input type="password" placeholder="비밀번호를 입력해 주세요" />
          </div>
          <div>
            <label for="passwordConfirm">비밀번호 확인</label>
            <input
              type="password"
              placeholder="비밀번호를 다시 입력해 주세요"
            />
          </div>
          <button type="submit" class="signInButton button">Sign In</button>
        </form>
      </div>
      <section id="notAvailableContainer"></section>
    </main>
    <footer></footer>
  </body>
</html>
