main {
  height: 650px;
}
/* login container */
#loginContainer {
  width: 450px;
  height: 420px;
  background-color: #ffffff;
  box-shadow: 4px 4px 55px rgba(162, 132, 107, 0.25);
  border-radius: 24px;
  position: absolute;
  top: 200px;
  left: calc(50vw - 225px);
}
#loginContainer > p {
  margin: 30px;
  font-size: 38px;
  font-weight: 800;
  text-align: center;
  color: #5b6d5b;
  cursor: default;
}

/* social login  */
#socialLoginContainer {
  width: 220px;
  margin: auto;
}
#socialLoginContainer img {
  width: 35px;
  margin: 10px;
  cursor: pointer;
}

/* login input */
input {
  width: 360px;
  height: 36px;
  margin: 20px 0 0 30px;
  padding: 0 20px;
  outline: none;
  border: none;
  border-radius: 12px;
  background-color: #f3d5c0a8;
}

/* button */
.buttonContainer {
  width: 290px;
  margin: 30px auto;
}
.logInButton {
  background-color: #5b6d5b;
  color: #f3d5c0a8;
}
.signInButton {
  background-color: #f3d5c0a8;
  color: #5b6d5b;
  margin-right: 40px;
}

@media screen and (min-height: 800px) {
  footer {
    position: fixed;
  }
}

/* not Available modal */
#notAvailableContainer {
  display: none;
  width: 100%;
  height: 110%;
  position: absolute;
  top: 100px;
  background-color: rgba(238, 238, 238, 0.863);
}
.notAvailable {
  width: 450px;
  background-color: #fff;
  border-radius: 24px;
  margin: 150px auto;
}

.notAvailable h2 {
  color: #5b6d5b;
  font-size: 24px;
  text-align: center;
  padding: 30px 0;
}

.confirmButton {
  position: relative;
  left: 175px;
  background-color: #5b6d5b;
  color: #fff;
  margin: 20px 0 30px 0;
}
