<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../common/header/header.js" defer></script>
    <link rel="stylesheet" href="../common/header/header.css">
    <script src="../common/tabButton/tabButton.js" defer></script>
    <link rel="stylesheet" href="../common/tabButton/tabButton.css">
    <script src="../common/footer/footer.js" defer></script>
    <link rel="stylesheet" href="../common/footer/footer.css">
    <link rel="stylesheet" href="../common/reset.css">
    <script src="../common/notAvailableModal/notAvailableModal.js" defer></script>
    <link rel="stylesheet" href="../common/notAvailableModal/notAvailableModal.css">
    <script src="https://kit.fontawesome.com/8f83d1908a.js" crossorigin="anonymous"></script>
    <script src="./myRecord.js" defer></script>
    <link rel="stylesheet" href="./myRecord.css">
    <title>[book-cord]</title>
</head>
<body>
    <header></header>
    <div id="tabMenu"></div>
    <main>
        <div class="emptyListModal emptyLists">
            <strong class="modalTitle">
                No record;
            </strong>
            <p class="modalDescription">
                Go record; 에서 기록을 남겨보세요!
            </p>
        </div>
        <section id="notAvailableContainer"></section>
    </main>
    <footer></footer>
</body>
</html>